<% layout("layouts/boilerplate") %>

<div class="container mt-5">
    <h1>Privacy Policy</h1>
    <hr>
    <p>We respect your privacy. This site does not collect personal data unless provided by the user during account creation or while listing.</p>

    <h4>What we collect</h4>
    <ul>
        <li>Basic account details: Name, email</li>
        <li>Listing data: Title, description, location</li>
    </ul>

    <h4>How we use it</h4>
    <ul>
        <li>To display listings on the website</li>
        <li>To improve user experience</li>
        <li>To contact you about your listings if needed</li>
    </ul>

    <h4>We don't</h4>
    <ul>
        <li>Sell your data</li>
        <li>Send spam emails</li>
    </ul>

    <p>If you have questions, contact us at: <a href="mailto:support@yourwebsite.com">support@hosthiveCS.com</a></p>
</div>
